on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
      - name: Install maturin
        run: |
          python -m pip install --upgrade pip
          pip install maturin
      - name: Build Rust extension
        run: |
          cd rust
          maturin develop --release
          cd ..
      - name: Install dependencies
        run: |
          pip install .[dev,examples]
      - name: Format code with black
        run: |
          black mec tests examples
      - name: Type check with mypy
        run: |
          mypy mec tests examples
      - name: Run tests
        run: |
          python -m unittest discover -s tests -p "test*.py"
